body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-image: url("https://dmxg5wxfqgb4u.cloudfront.net/styles/background_image_xl/s3/2020-07/generic%20apex%20octagon%20hero.jpg?VersionId=null&h=d1cb525d&itok=WEfdiQ76");
    background-size: contain; */
    background-color: thistle;
}

body>header>h1{
    color:rgb(245, 209, 9);
    background-color: black ;
    text-align: center;
    margin-bottom: 10px;
}

li a{
    text-decoration: none;
    color:black;
    width: 200px;
    margin-bottom: 1px;

}

a:link, a:visited{
    
}